**/.build
**/.config.old
*/compiler/*
!*/compiler/.config
**/build.log
**/buildroot-*
*.swp
*/*.manifest
*/*.tar.gz
*/*.tar.xz
*/.sysroot-*completed
*/compiler-bin
*/compiler/include
*/gdb-src
*/host-gdb
*/sysroot
*/sysroot-*
/toolchains
