**/.build
**/build.log
**/buildroot-*
*/compiler-*/*
*/compiler
*/compiler-bin
!*/compiler/.config
*/compiler/include
**/.config.old
*/gdb-src
*/host-gdb
/meta.json
*/*.manifest
*.swp
/staging
*/sysroot
*/sysroot-*
*/.sysroot-*completed
*/.*-target-bundle
*/.*-compiler-bundle
*/*.tar.gz
!gamecube-ct/*.tar.gz
*/*.tar.xz
/toolchains
